
  .heroimg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .heroimg,
  .herotxt {
    opacity: 0;
  }
  
  .heroimg {
    animation: slideInFromTop 1s ease-out forwards;
  }
  
  .herotxt {
    left: -10%;
    animation: fadeInFromLeft 1s ease-out forwards;
    animation-delay: 1s; // Delay the start of herotxt animation by 1 second
  }
  
  @keyframes slideInFromTop {
    0% {
      transform: translate(-50%, -100%);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
  
  @keyframes fadeInFromLeft {
    0% {
      transform: translate(-150%, -50%);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
  