
nav{
    background-color: $primary-color;
    font-family: $satoshi-font;
    display: flex;
    justify-content: space-around;
    
    .logo{
      width: 80px;
      padding: 10px 20px;
    
    }
    ul{
      @include centery;
      padding: 10px 20px;

      li{
        margin-right: 10px;
        a{
          text-decoration: none;
          text-transform: uppercase;
          color: $nav-color;
          font-size: 1.5rem;
        }
      }
    }
  }
  
  .burger{
    width: 80px;
    padding: 20px 20px;
  }
